{% extends "layout/_template.njk" %}
{% from "components/image/_macro.njk" import onsImage %}
{% from "components/card/_macro.njk" import onsCard %}
{% from "components/textarea/_macro.njk" import onsTextarea %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/list/_macro.njk" import onsList %}
{% from "components/label/_macro.njk" import onsLabel %}
{% from "components/select/_macro.njk" import onsSelect %}
{% set pageConfig = {
      "header": {
          "title": "GitHub User Dashboard",
          "description": "A dashboard to view your GitHub profile",
          "serviceLinks": {
            "id": "service-links-internal",
            "ariaLabel": 'Services menu',
            "ariaListLabel": 'Menu',
            "toggleServicesButton": {
                "text": 'Account',
                "ariaLabel": 'Toggle services menu'
            },
            "itemsList": [
                {
                    "text": user_info.login,
                    "iconType": 'person'
                }
            ]
        }
      },
      "footer": {
          "OGLLink": {
              "pre": "All content is available under the", "link": "Open Government Licence v3.0",
              "url": "https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/",
              "post": ", except where otherwise stated"
          }
      }
  } %}
{% block main %}
    {% if error_message %}
        {% call onsPanel({
            "title": 'There was a problem with your submission',
            "variant": 'error'
        }) %}
        {{ onsList({
            "element": 'ol',
            "itemsList": [
                {
                    "text": error_message
                }
            ]
        }) }}
        {% endcall %}
    {% endif %}
    {{ onsImage({
        "image": {
            "smallSrc": user_info.avatar_url,
            "largeSrc": user_info.avatar_url
        }
    }) }}
    {{ onsCard({
        "id": 'user-info',
        "textId": 'text',
        "title": user_info.name,
        "url": "https://github.com/" + user_info.login + "#name"
    }) }}
    {% from "components/table/_macro.njk" import onsTable %}
    {{ onsTable({
        "id": "user-info-table",
        "ths": [
            {
                "value": "My Details"
            },
            {
                "value": ""
            }
        ],
        "trs": [
            {
                "tds": [
                    {
                        "value": "Followers: " + user_info.followers | string
                    },
                    {
                        "value": "Following: " + user_info.following | string
                    }
                ]
            },
            {
                "tds": [
                    {
                        "value": "Public repos: " + user_info.public_repos | string
                    },
                    {
                        "value": "Public gists: " + user_info.public_gists | string
                    }
                ]
            },
            {
                "tds": [
                    {
                        "value": "Company: " + user_info.company | string
                    },
                    {
                        "value": "Hireable: " + user_info.hireable | string
                    }
                ]
            },
            {
                "tds": [
                    {
                        "value": "Blog: " + user_info.blog | string
                    },
                    {
                        "value": "Location: " + user_info.location | string
                    }
                ]
            },
            {
                "tds": [
                    {
                        "value": "Twitter: " + user_info.twitter_username | string,
                    },
                    {
                        "value": "Admin: " + user_info.site_admin | string
                    }
                ]
            }
        ]
    }) }}
    <!-- Bio section within a card -->
    {{ onsCard({
        "id": "bio-card",
        "textId": "bio-text",
        "title": "Your Bio",
        "url": "https://github.com/" + user_info.login + "#bio"
    }) }}
    <p id="bioText">{{ user_info.bio }}</p>
    
    {% endblock %}