{% extends "layout/_template.njk" %}
{% from "components/image/_macro.njk" import onsImage %}
{% from "components/card/_macro.njk" import onsCard %}
{% from "components/textarea/_macro.njk" import onsTextarea %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/list/_macro.njk" import onsList %}
{% from "components/label/_macro.njk" import onsLabel %}
{% from "components/select/_macro.njk" import onsSelect %}
{% from "components/input/_macro.njk" import onsInput %}
{% set pageConfig = {
      "header": {
          "title": "GitHub User Dashboard",
          "description": "A dashboard to view your GitHub profile",
          "serviceLinks": {
            "id": "service-links-internal",
            "ariaLabel": 'Services menu',
            "ariaListLabel": 'Menu',
            "toggleServicesButton": {
                "text": 'Account',
                "ariaLabel": 'Toggle services menu'
            },
            "itemsList": [
                {
                    "text": user_info.login,
                    "iconType": 'person'
                }
            ]
        }
      },
      "footer": {
          "OGLLink": {
              "pre": "All content is available under the", "link": "Open Government Licence v3.0",
              "url": "https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/",
              "post": ", except where otherwise stated"
          }
      }
  } %}
{% block main %}
    {# <p>{{ user_info }}</p> #}
    {% if error_message %}
        {% call onsPanel({
            "title": 'There was a problem with your submission.',
            "variant": 'error'
        }) %}
        {{ onsList({
            "element": 'ol',
            "itemsList": [
                {
                    "text": error_message
                }
            ]
        }) }}
        {% endcall %}
    {% endif %}
    {{ onsImage({
        "image": {
            "smallSrc": user_info.avatar_url,
            "largeSrc": user_info.avatar_url
        }
    }) }}
    {{ onsCard({
        "id": 'user-info',
        "textId": 'text',
        "title": user_info.name,
        "url": "https://github.com/" + user_info.login + "#name"
    }) }}
    {% from "components/table/_macro.njk" import onsTable %}
    {{ onsTable({
        "id": "user-info-table",
        "ths": [
            {
                "value": "My Details"
            },
            {
                "value": ""
            }
        ],
        "trs": [
            {
                "tds": [
                    {
                        "value": "Followers: " + user_info.followers | string
                    },
                    {
                        "value": "Following: " + user_info.following | string
                    }
                ]
            },
            {
                "tds": [
                    {
                        "value": "Public repos: " + user_info.public_repos | string
                    },
                    {
                        "value": "Public gists: " + user_info.public_gists | string
                    }
                ]
            },
            {
                "tds": [
                    {
                        "value": "Company: " + user_info.company | string
                    },
                    {
                        "value": "Hireable: " + user_info.hireable | string
                    }
                ]
            },
            {
                "tds": [
                    {
                        "value": "Blog: " + user_info.blog | string
                    },
                    {
                        "value": "Location: " + user_info.location | string
                    }
                ]
            },
            {
                "tds": [
                    {
                        "value": "Twitter: " + user_info.twitter_username | string,
                    },
                    {
                        "value": "Admin: " + user_info.site_admin | string
                    }
                ]
            }
        ]
    }) }}
    <!-- Bio section within a card -->
    {{ onsCard({
        "id": "bio-card",
        "textId": "bio-text",
        "title": "My Bio",
        "url": "https://github.com/" + user_info.login + "#bio"
    }) }}
    <p id="bioText">{{ user_info.bio }}</p>
    <!-- Field selection form -->
    {{ onsCard({
        "id": "dynamic-edit",
        "textId": "dynamic-edit-text",
        "title": " Edit Details",
        "url": "https://github.com/" + user_info.login
    }) }}
    <form id="editFieldForm" action="/saveField" method="post" class="ons-card">
        {{ onsSelect({
        "id": "fieldSelect",
        "name": "field",
        "label": {
            "text": "Select the field you want to edit"
        },
        "options": [
            { "value": "", "text": "Select an option", "disabled": true, "selected": true },
            { "value": "name", "text": "Name" },
            { "value": "email", "text": "Email" },
            { "value": "blog", "text": "Blog URL" },
            { "value": "twitter_username", "text": "Twitter Username" },
            { "value": "company", "text": "Company" },
            { "value": "location", "text": "Location" },
            { "value": "hireable", "text": "Hiring Availability" },
            { "value": "bio", "text": "Bio" }
        ]
    }) }}
        <!-- Placeholder for dynamic input -->
        <br>
            <div id="dynamicInput" class="ons-card"></div>
            <br>
                <div id="submitButton" style="display:none">
                    {{ onsButton({
        "text": "Submit Changes",
        "type": "submit"
    }) }}
                </div>
            </form>
            <br>
                <!-- Repos table -->
                {{ onsCard({
            "id": "repos-card",
            "textId": "repos-text",
            "title": "My Repositories",
            "url": "https://github.com/" + user_info.login + "?tab=repositories"
        }) }}
                <table id="basic-table" class="ons-table ons-table--">
                    <thead class="ons-table__head">
                        <tr class="ons-table__row">
                            <th scope="col" class="ons-table__header">
                                <span class="ons-table__header-text">Repository Name</span>
                            </th>
                            <th scope="col" class="ons-table__header">
                                <span class="ons-table__header-text">Description</span>
                            </th>
                            <th scope="col" class="ons-table__header">
                                <span class="ons-table__header-text">Private</span>
                            </th>
                            <th scope="col" class="ons-table__header">
                                <span class="ons-table__header-text">Forked</span>
                            </th>
                            <th scope="col" class="ons-table__header">
                                <span class="ons-table__header-text">Archive</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="ons-table__body">
                        {% for repo in repos %}
                            <tr class="ons-table__row">
                                <td class="ons-table__cell">
                                    <a href="https://github.com/{{ user_info.login }}/{{ repo.name }}" target="_blank" class="ons-external-link__text">
                                        {{ repo.name }}
                                    </a>
                                </td>
                                <td class="ons-table__cell">
                                    {{ repo.description }}
                                </td>
                                <td class="ons-table__cell">
                                    {{ repo.private }}
                                </td>
                                <td class="ons-table__cell">
                                    {{ repo.fork }}
                                </td>
                                <td class="ons-table__cell">
                                    {% if repo.archived %}
                                        <form action="/archiveRepo" method="post">
                                            <input type="hidden" name="repoName" value="{{ repo.name }}">
                                            <input type="hidden" name="userName" value="{{ user_info.login }}">
                                            {{ onsButton({
                                                "text": "Unarchive",
                                                "type": "submit"
                                            }) }}
                                            <input type="hidden" name="archived" value="{{repo.archived}}">
                                        </form>
                                    {% else %}
                                        <form action="/archiveRepo" method="post">
                                            <input type="hidden" name="repoName" value="{{ repo.name }}">
                                            <input type="hidden" name="userName" value="{{ user_info.login }}">
                                            {{ onsButton({
                                                "text": "Archive",
                                                "type": "submit"
                                            }) }}
                                            <input type="hidden" name="archived" value="{{repo.archived}}">
                                        </form>
                                    {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <script>
                            document.getElementById('fieldSelect').addEventListener('change', function () {
                                var selectedField = this.value;
                                var dynamicInput = document.getElementById('dynamicInput');
                                var userInfo = {{ user_info | tojson | safe }};
                                let preExistingValue = userInfo[selectedField]
                                // Clear previous input
                                dynamicInput.innerHTML = '';
                                var submitButton = document.getElementById('submitButton');
                                let inputHTML = '';
                                if (selectedField) {
                                    submitButton.style.display = 'block';
                                } else {
                                    submitButton.style.display = 'none';
                                }
                                // Determine the type of input based on the selected field
                                switch (selectedField) {
                                    case 'hireable': inputHTML = `
                {{ onsSelect({
                    "id": "valueSelect",
                    "name": "value",
                    "label": {
                        "text": "New Value"
                    },
                    "options": [
                        { "value": "true", "text": "True" },
                        { "value": "false", "text": "False" },
                        { "value": "null", "text": "Not Set" }
                    ]
                }) }}
            `;
                                        break;
                                    case 'bio': inputHTML = `
                {{ onsTextarea({
                    "id": "valueTextarea",
                    "name": "value",
                    "label": {
                        "text": "New Bio"
                    },
                    "rows": 4,
                    "cols": 50,
                    "value": "${preExistingValue}" 
                }) }}
            `;
                                        break;
                                    default: inputHTML = `
                {{ onsInput({
                    "id": "valueInput",
                    "name": "value",
                    "label": {
                        "text": "New Value"
                    },
                    "type": "text",
                    "value": "${preExistingValue}"
                }) }}
            `;
                                        break;
                                }
                                // Inject the generated HTML into the dynamic input area
                                dynamicInput.innerHTML = inputHTML;
                            });
                        </script>
                    {% endblock %}
                </tbody>